.carousel-caption {
 background: rgba(12, 12, 12, 0.6);
 margin-bottom: 3em;
}
@media screen and (min-width: 768px)
.carousel-caption {
    left: 5%;
    right: 5%;
    padding-bottom: 10px;
}

/* http://afeld.github.io/bootstrap-toc/ */

nav[data-toggle='toc'] {
  margin-top: 30px;
}

/* small screens */
@media (max-width: 768px) {
  /* override the Affix plugin so that the navigation isn't sticky */
  nav.affix[data-toggle='toc'] {
    position: static;
  }

  /* PICK ONE */
  /* don't expand nested items, which pushes down the rest of the page when navigating */
  nav[data-toggle='toc'] .nav .active .nav {
    display: none;
  }
  /* alternatively, if you *do* want the second-level navigation to be shown (as seen on this page on mobile), use this */
  nav[data-toggle='toc'] .nav .nav {
    display: block;
  }
}
=======
.carousel-indicators li {
  background-color: #000;
}
.carousel-indicators .active {
  background-color: #fff;
}

